/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */

body {
	@apply text-foreground bg-background font-mono;
}

.custom-cursor {
	@apply pointer-events-none fixed top-0 left-0 z-[1000] flex items-center justify-center rounded-full text-center text-[0.875rem] leading-[1.1rem];
	border: 2px solid black;
	font-weight: normal;
	background-color: transparent;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0); /* Initial scale set to 0 */
	transition: opacity 0.2s ease;
	width: 3.4rem;
	height: 3.4rem;
}

@media (min-width: 767px) {
	.row-image:hover .custom-cursor {
		opacity: 1;
	}
	.row-image:hover {
		cursor: none;
	}
}
